<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymelef.org"
      layout:decorate="~{layouts/layout.html}">
<body>
<div layout:fragment="content">
    <h1>일정 목록</h1>
    <div class="row">
        <div class="col-sm-8 mx-auto" th:object="${schedule}" th:each="schedule: ${schedules}">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{title}"></h5>
                    <p class="card-text">
                        기간: <b th:text="${#strings.replace(schedule.start,'T',' ')}"></b> ~
                        <b th:if="${#strings.equals(#strings.arraySplit(schedule.start,'T')[0],#strings.arraySplit(schedule.end,'T')[0])}"
                           th:text="${#strings.arraySplit(schedule.end,'T')[1]}"></b>
                        <b th:unless="${#strings.equals(#strings.arraySplit(schedule.start,'T')[0],#strings.arraySplit(schedule.end,'T')[0])}"
                           th:text="${#strings.replace(schedule.end,'T',' ')}"></b>
                    </p>
                    내용: <p th:text="*{description}"></p>
                    <div class="d-grid gap-2 d-sm-flex">
                        <button type="button" class="btn btn-secondary" id="btn_scheduleEdit"
                                th:onclick="'location.href=\''+ @{|/schedules/${schedule.id}/edit|} + '\''">edit
                        </button>
                        <form th:action="@{'/schedules/{id}'(id=${schedule.id})}" th:method="delete">
                            <button type="submit" class="btn btn-danger" id="btn_scheduleDel">delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary fixed-bottom" style="width:4rem;left:auto;bottom:20px;right:20px"
                id="btn_scheduleCreate"
                th:onclick="'location.href=\''+ @{|/schedules/new|} + '\''">add
        </button>
    </div>
</div>
</body>
</html>