<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymelef.org"
      layout:decorate="~{layouts/layout.html}">
<body>
<div class="col-md-4 col-sm-12 my-3 mx-auto" layout:fragment="content">
    <div class="card p-3">
        <form method="POST" th:action="@{/register}">
            <h1 class="h3 mb-3 text-center">로그인</h1>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="example@example.com"
                       name="email" />
                <label for="floatingInput">이메일</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="비밀번호" name="password" />
                <label for="floatingPassword">비밀번호</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">로그인</button>
        </form>
    </div>
</div>
</body>
</html>