<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<body>
<div layout:fragment="content">
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title" th:text="|${team.getName()} - (${team.getTeamUsers().size()})|">title</h5>
            <div class="d-flex">
                <a th:href="@{|/teams/${team.id}/edit|}" class="btn btn-warning me-1">수정</a>
                <form th:action="@{|/teams/${team.id}|}" th:method="delete">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
            </div>
        </div>
    </div>
    <h3>팀원 목록</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teamUser : ${team.getTeamUsers()}">
            <th scope="row" th:text="${teamUser.id}">id</th>
            <td th:text="${teamUser.getUser().getName()}">name</td>
            <td th:text="${teamUser.getUser().getEmail()}">email</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>