<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment">
    <header class="p-3 bg-dark text-white sticky-top">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>
                <div class="text-end">
                    <a sec:authorize="isAuthenticated()" th:href="@{logout}" class="btn btn-outline-light me-2">로그아웃</a>
                    <a sec:authorize="isAnonymous()" th:href="@{login}" class="btn btn-outline-light me-2">로그인</a>
                    <a sec:authorize="isAnonymous()" th:href="@{register}" class="btn btn-outline-warning">회원가입</a>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>